
.header__container {
    padding: 0 100px;
}

.header__logo-hk {
    max-width: 250px;
    height: auto;
}

.header__logo {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header .parallelogram {
    width: 85%;
    height: 150px;
    background-color: var(--primary-color);
    transform: skew(328deg);
    margin: 0 10px;
    color: red;
}

.header .two-dots {
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-decoration: none;
}

.header .logo-font-awasome {
    align-items: center;
    gap: 15%;
    font-size: 60px;
    color: red;
}

.header .logo-font-awasome .icon-circle-outline {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--primary-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    aspect-ratio: 1 / 1;
    text-decoration: none;
}

.header .logo-font-awasome .icon-circle-outline i {
    font-size: 38px;
}

.header .logo-font-awasome i {
    color: var(--primary-color);
}

/* Responsive */
@media (max-width: 1000px) {
    .header__container {
        padding: 0 40px;
        max-width: 100%;
    }

    .header .parallelogram {
        width: 100px;
        height: 80px;
        background-color: var(--primary-color);
        transform: skew(328deg);
        margin: 0 10px;
    }

    .header__logo-hk {
        max-width: 112px;
        height: auto;
    }

    .header .auto-col-4 {
        display: grid;
        grid-template-columns: 1fr auto auto;
        max-width: 100%;
    }

    .header .logo-font-awasome {
        font-size: 16px;
    }

    .header .logo-font-awasome .icon-circle-outline {
        width: 30px;
        height: 30px;
        aspect-ratio: 1 / 1;
        border: 3px solid var(--primary-color);
    }

    .header .logo-font-awasome .icon-circle-outline i {
        font-size: 20px;
    }
}