:root {
    --primary-color: #dc281e;
    --white-color: #fff;
    --black-color: #000;
    --heading-color: #000;
    --text-color: #000;
    --yellow-color: #ffe440;
    --grey-color: #dddedf;

    --spacing-md: 20px;
    --font-xs: 12px;
    --font-sm: 14px;
    --font-m: 16px;
    --font-xl: 20px;
}
.max-width {
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

body.no-scroll {
    height: 100vh;
    overflow: hidden;
}

.section {
    padding: 64px 0; /* $spacing-lg */
}

.col-2,
.col-2-lg {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 100%;
    padding: 0;
}

.col-4-wide {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    max-width: 100%;
}

.col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
}

.row-4 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

/* Typography */
.text-lg {
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;
}

.text-medium {
    font-size: 24px;
}

.text-small {
    font-size: 20px;
}

.line-height-normal {
    line-height: normal;
}

.bold {
    font-weight: bolder;
}

/* Text Utility */
.text-decoration-none {
    list-style: none;
    padding: 0;
    text-decoration: none;
    margin: 0;
}

.text-red {
    color: var(--primary-color);
}

.hover-underline:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.back-ground-white{
    background-color: var(--white-color);
}

/* Flex/Grid Utility */
.gap-x-20 {
    display: flex;
    gap: 20px;
}

.grid-center {
    display: grid;
    justify-items: center;
    align-items: center;
}

.content-center {
    align-items: center;
    gap: 10px;
    padding: 0;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 0;
}

.flex-start {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Scroll to Top Button */
.scroll-to-top {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 9;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.scroll-to-top i {
    font-size: 38px;
    color: var(--primary-color);
}

/* Spacing Utility */
.margin-20 {
    margin: 20px 0;
}

p{
    margin: 0;
}

/* Responsive */
@media (max-width: 1000px) {
    .col-2 {
        grid-template-columns: 1fr;
    }

    .row-4 {
        grid-template-columns: 10fr 1fr;
        gap: 16px;
    }

    .col-span-2 {
        grid-column: span 2;
    }

    .text-medium {
        font-size: 16px;
    }

    .text-small {
        font-size: 14px;
    }

    .text-lg {
        font-size: 24px;
        line-height: 120%;
    }

    .scroll-to-top {
        display: none;
    }
}

