@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    @apply font-[Outfit] min-h-screen
}

.title-add-btn{
    @apply flex justify-between;
}
.title {
   @apply text-3xl font-bold text-start mb-5;
}
.container_table{
    @apply relative overflow-x-auto border border-gray-100 lg:rounded-lg
}
.container-item-center{
    @apply justify-items-center mb-5
}
.table{
  @apply w-full text-xl text-left text-gray-500
}
.table-head{
    @apply text-xs text-gray-700 uppercase bg-gray-50
}
.table-head-cell-no{
    @apply w-20 px-6 py-3 text-xl
}
.table-head-cell-name {
    @apply w-3/6 max-w-xs px-6 py-3 whitespace-nowrap overflow-hidden text-ellipsis text-xl;
}

.table-head-cell{
    @apply w-1/6 px-6 py-3 text-xl
}
.table-head-cell-not-found{
    @apply w-10 px-6 py-4
}
.table-head-cell-action{
   @apply px-6 py-4 text-right flex gap-3
}
.table-row{
    @apply bg-white border-b
}
.table-data{
    @apply font-medium text-gray-900 whitespace-nowrap
}
.status-active{
    @apply inline-flex items-center gap-1 text-green-600
}
.status-inactive{
    @apply inline-flex items-center gap-1 text-red-600
}
.container_action{
   @apply px-6 py-4 text-right flex gap-3
}
.container-add-search{
    @apply flex justify-between items-center
}
.btn-add{
    @apply inline mb-5 px-5 py-2.5 text-lg font-medium text-white text-center bg-[#d7271d] rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300
}
.container_modal{
    @apply hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-[999] justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full
}
.btn-delete {
    @apply inline-flex items-center justify-center px-3 py-1.5 text-lg font-medium text-red-600
    bg-white border border-red-300 rounded-md shadow-lg
    hover:bg-red-50 hover:text-red-800
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-400
    transition;
}

.btn-edit {
    @apply inline-flex items-center justify-center px-3 py-1.5 text-lg font-medium text-slate-600
    bg-white border border-slate-300 rounded-md shadow-lg
    hover:bg-slate-50 hover:text-slate-800
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-400
    transition;
}

.btn-show {
    @apply inline-flex items-center justify-center px-3 py-1.5 text-lg font-medium text-emerald-600
    bg-white border border-emerald-300 rounded-md shadow-lg
    hover:bg-emerald-50 hover:text-emerald-800
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-400
    transition;
}

.btn-submit {
   @apply text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg w-full lg:w-auto px-5 py-2.5 mt-5 text-center
}

.btn-cancel {
    @apply text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-lg w-full lg:w-auto px-5 py-2.5 mt-5 text-center
}
.btn-search{
    @apply px-4 py-2 bg-red-600 text-white font-bold hover:bg-red-700
}

.container-center{
    @apply container lg:w-2/3
}

.container-grid-two{
    @apply grid gap-6 mb-6 md:grid-cols-2
}

.container-grid-three{
    @apply grid gap-6 mb-6 md:grid-cols-3
}

.label-title{
    @apply block mb-2 text-lg font-medium text-gray-900
}

.input-title{
   @apply bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
}

.search {
    @apply flex mb-5;
}

.input-search {
    @apply px-4 py-2 border border-gray-300 border-r-0
    rounded-l-lg focus:outline-none focus:ring-2 focus:ring-red-200 w-full;
}

.btn-search {
    @apply px-4 py-2 bg-red-600 text-white border border-red-600
    rounded-r-lg hover:bg-red-700 transition;
}

.pagination {
    @apply text-xl flex gap-2 py-2
}

.step{
    @apply text-slate-400
}
.container-layout{
    @apply pt-32 ml-0 lg:ml-64 px-4
}

.section_title{
    @apply text-2xl font-bold mb-3
}
.selection-container{
    @apply mb-6 space-y-4
}
.selection-item{
   @apply flex items-center gap-2
}
.select-news{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg block w-full p-2.5
}
.start-section-label{
   @apply block mb-2 text-lg font-medium text-gray-900
}
.start-input{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg block w-full p-2.5
}

/*pagination*/
.pagination{
    @apply mt-4 flex items-center gap-2
}
.prevLink, .nextLink, .currentStep, .step {
    @apply  px-4 py-2 text-lg font-medium text-gray-900
}

.currentStep{
    @apply bg-red-600 text-white border-solid ring-4 ring-red-200 rounded-full
}

.pagination .disabled {
    @apply text-gray-400 cursor-not-allowed opacity-60;
    pointer-events: none;
}
.icon-pagination{
    @apply text-xl font-bold
}
.prevLink, .nextLink{
    @apply flex items-center
}

/*Select2*/
.news-select-group{
    @apply w-[97%]
}

.select2-container{
    @apply w-full !important;
}

.select2-container--default .select2-selection--single {
    @apply h-fit bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg block w-full p-2.5 flex items-center justify-between rounded-none border border-slate-900 !important
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    @apply !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    @apply flex w-8 h-8 items-center justify-center static !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    @apply bg-[url(/assets/down-chevron.png)] left-full  bg-cover bg-transparent static border-0 w-8 h-8 !important
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    @apply bg-[url(/assets/up-chevron.png)] left-full  bg-cover bg-transparent static border-0 w-8 h-8 !important
}

.select2-results__option--selectable{
    @apply border border-gray-300 !important;
}

.select2-container--default .select2-results__option--selected{
    @apply bg-[#f6f6f6] text-[#919497] !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    @apply bg-[#d7271d] !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable.select2-results__option--selected {
    @apply bg-[#d7271d] text-white !important;
}